# Exploratory Data Analysis (EDA). Retail Industry
## City with Highest Sales Value of 'Office Supplies' Category

In [1]:
from platform import python_version
print('Python Version:', python_version())

Python Version: 3.9.13

In [2]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

### Loading the dataset

In [3]:
# Loads the dataset
dataframe_retail = pd.read_csv('data/dataset.csv')

In [4]:
# Dataset shape
dataframe_retail.shape

(9700, 11)

In [5]:
# Dataset Sample
dataframe_retail.head()

,OrderId,OrderDate,CustomerId,Segment,Country,City,State,ProductId,Category,SubCategory,TotalOrderValue
0,CA-2017-152156,08/11/2017,CG-12520,Consumer,United States,Henderson,Kentucky,FUR-BO-10001798,Furniture,Bookcases,261.9600
1,CA-2017-152156,08/11/2017,CG-12520,Consumer,United States,Henderson,Kentucky,FUR-CH-10000454,Furniture,Chairs,731.9400
2,CA-2017-138688,12/06/2017,DV-13045,Corporate,United States,Los Angeles,California,OFF-LA-10000240,Office Supplies,Labels,14.6200
3,US-2016-108966,11/10/2016,SO-20335,Consumer,United States,Fort Lauderdale,Florida,FUR-TA-10000577,Furniture,Tables,957.5775
4,US-2016-108966,11/10/2016,SO-20335,Consumer,United States,Fort Lauderdale,Florida,OFF-ST-10000760,Office Supplies,Storage,22.3680

In [6]:
# Dataset Sample
dataframe_retail.tail()

,OrderId,OrderDate,CustomerId,Segment,Country,City,State,ProductId,Category,SubCategory,TotalOrderValue
9695,CA-2018-154116,15/12/2018,KM-16660,Consumer,United States,Inglewood,California,OFF-PA-10004569,Office Supplies,Paper,22.830
9696,CA-2018-154116,15/12/2018,KM-16660,Consumer,United States,Inglewood,California,OFF-AP-10000027,Office Supplies,Appliances,54.320
9697,CA-2018-154116,15/12/2018,KM-16660,Consumer,United States,Inglewood,California,TEC-PH-10000675,Technology,Phones,196.776
9698,CA-2017-105291,30/10/2017,SP-20920,Consumer,United States,San Luis Obispo,California,OFF-FA-10003059,Office Supplies,Fasteners,3.620
9699,CA-2018-147032,31/07/2018,LB-16795,Home Office,United States,Wilmington,Delaware,OFF-PA-10003256,Office Supplies,Paper,11.540

### Exploratory Analysis

In [7]:
# Dataset Columns
dataframe_retail.columns

Index(['OrderId', 'OrderDate', 'CustomerId', 'Segment', 'Country', 'City',
       'State', 'ProductId', 'Category', 'SubCategory', 'TotalOrderValue'],
      dtype='object')

In [8]:
# Columns data types
dataframe_retail.dtypes

OrderId             object
OrderDate           object
CustomerId          object
Segment             object
Country             object
City                object
State               object
ProductId           object
Category            object
SubCategory         object
TotalOrderValue    float64
dtype: object

In [10]:
# Statistic summary, showing the Sale Value.
dataframe_retail['TotalOrderValue'].describe()

count     9700.000000
mean       230.469892
std        627.504252
min          0.444000
25%         17.248000
50%         54.272000
75%        209.932500
max      22638.480000
Name: TotalOrderValue, dtype: float64

In [11]:
# Checking for duplicated data
dataframe_retail[dataframe_retail.duplicated()]

Empty DataFrame
Columns: [OrderId, OrderDate, CustomerId, Segment, Country, City, State, ProductId, Category, SubCategory, TotalOrderValue]
Index: []

In [12]:
# Checking for missing values
dataframe_retail.isnull().sum()

OrderId            0
OrderDate          0
CustomerId         0
Segment            0
Country            0
City               0
State              0
ProductId          0
Category           0
SubCategory        0
TotalOrderValue    0
dtype: int64

### Identify the city with the highest sales value of products in the 'Office Supplies' category.

In [13]:
# Filter the dataframe, to get only data related to the target category.
dataframe_supplies = dataframe_retail[dataframe_retail['Category'] == 'Office Supplies']

In [14]:
# Summarize Sale Value per city
dataframe_supplies_total = dataframe_supplies.groupby('City')['TotalOrderValue'].sum()

In [15]:
# Get the city with the highes sales value
highets_sales_city = dataframe_supplies_total.idxmax()
print("The city with the highest sales value of products in 'Office Supplies' is",highets_sales_city)

The city with the highest sales value of products in 'Office Supplies' is New York City